.site-title {
 margin-top: 30px;
 margin-bottom: 30px;
 text-align: center;
 font-size: 80px;
}

.container {
  max-width: 600px;
  margin: 0px auto;
  padding: 20px;
  text-align: center;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro {
  font-size: 1.2em;
  margin: 20px 0px;
  display: inline-block;
}

/* Buttons */
/* Container for both buttons */
.nav-buttons {
  display: flex;
  justify-content: center;
  gap: 40px;
}

/* Each button */
.menu-button,
.message-button {
  display: flex;
  flex-direction: column;     /* Stack icon on top of text */
  align-items: center;        /* Center icon and text */
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: transparent;
  border-radius: 50%;         /* Makes the button circular */
  text-decoration: none;      /* Remove underline from link */
  transition: background-color 0.3s ease;
  cursor: pointer;
}

/* Icon inside the button */
/* Targets the <img> inside the buttons only */
.menu-button img,
.message-button img {
  width: 40x;
  height: 40px;
  margin-bottom:8px;
}

/* Text below icon */
.menu-button span,
.message-button span {
  font-size: 14px;
  color: var(--text-color); 
  font-weight: bold;
}

/* Hover effect */
.message-button:hover,
.menu-button:hover {
  background-color: var(--accent-color);
}

.logout {
  position: fixed;
  bottom: 10px;
  padding: 8px 12px;
  background-color:#ffd13b38;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}